* {
  line-height: 130%;
}

div.section table thead th {
  background-color: #CAD5E7;
  text-align: left;
}

div.section table td {
  vertical-align: top;
}

div.section table td.type code, div.section table td.returns code {
  display: block;
}

div.section table td.type span, div.section table td.returns span {
  font-size: 90%;
  color: #777;
  padding: 0 0.5em 0 0;
}

div.section table th, div.section table td {
  border: 1px solid #ccc;
  padding: 0.5em;
}

code {
  color: #007000;
  font-family: "Droid Sans Mono";
}

* {
  line-height: 130%;
}
